body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

p{
  font-size: 20px;
}

a{
  font-size: 20px;
  font-style: bold;
  color: black;
}
